<navbar></navbar>

<div id='about-background' class='page-wrap'>
  <div id='blurb-section' class='section-wrapper'>
    <p class='section-header'>What is Shades of Our Sisters?</p>
    <div class='section-divider'></div>
    <div id='blurb-wrapper'>
      <p>{{contentService.about_blurb}}</p>
      <img src='http://placehold.it/350x150'>
    </div>
  </div>

  <div id='producers-section' class='section-wrapper'>
  </div>

  <div id='team-section' class='section-wrapper'>
  </div>

  <div id='credits-section' class='section-wrapper'>
  </div>
</div>

<custom-footer></custom-footer>
