<navbar></navbar>

<div id='contact-background' class='page-wrap'>
  <div id='form-wrapper'>
    <h1>Contact</h1>

    <form id='contact-form' action="" method="post">
      <label>Name</label>
      <input name="name" placeholder="Ashley Peterson" type="text">

      <label>Email</label>
      <input name="email" placeholder="yourname@gmail.com" type="text">

      <label>Message</label>
      <textarea cols="15" name="message" rows="10">
      </textarea>

      <input id="submit" type="submit" value="SUBMIT">
    </form>
  </div>
</div>

<custom-footer></custom-footer>
