<navbar></navbar>

<div id='contact-background' class='page-wrap'>
  <div id='form-wrapper' class='section-wrapper'>
    <p class=section-header>Contact</p>
    <div class='section-divider'></div>

    <form id='contact-form' name='userForm' action="mailto:info@shadesofoursisters.com?subject=Hi Team" method="post" enctype="text/plain">
      <label id='name_label'>Name</label>
      <input name="name" ng-model='name' placeholder="Ashley Peterson" type="text" required>

      <label>Email</label>
      <input name="email" type='email' ng-model='email' placeholder="yourname@gmail.com" type="text" required>
      <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

      <label>Message</label>
      <textarea ng-model='message' cols="15" name="message" rows="10" required>
      </textarea>

      <input id="submit" type="submit" value="SUBMIT">
    </form>
  </div>
</div>

<custom-footer></custom-footer>
