<navbar></navbar>

<div id='landing-background' class='page-wrap'>
    <div id='profile-left' class='profile'>
      <p class='profile-name'>{{contentService.profile_left_name}}</p>
      <p class='profile-description'>{{contentService.profile_left_description}}</p>
    </div>

    <div id='blurb'>
      <div id='blurb-logo'>
      </div>
      <p>{{contentService.blurb}}</p>
    </div>

    <div id='profile-right' class='profile'>
      <p class='profile-name'>{{contentService.profile_right_name}}</p>
      <p class='profile-description'>{{contentService.profile_right_description}}</p>
    </div>
</div>

<custom-footer></custom-footer>

